* {
    margin: 0 auto;
    font-family: "Yu Mincho", "HiraginoMin", Serif;
}
html{
    font-size: 18px;
    line-height: 1.2;
}
h1, h2, h3, p{
    padding-bottom: 0.5rem;
}

.main, .policy, .ma{
    text-align: center;
}

.main h2, .main p, .policy h2, .ma h2{
    text-align: left;
}

.bg{
    width: 22rem;
    padding: 1rem;
    background-color: #e9141e;
    color: white;
}
.top{
    background-color: white;
    color: #e9141e;
}
.top{
    text-align: center;
    padding: 1rem;
}
.logolike{
    font-size: 6rem;
}
.slogan{
    font-size: 1.5rem;
}
.date{
    color:blueviolet;
    font-weight: bold;
    font-size: small;
}
.noti p{
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}
.main, .policy, .noti, .mem, .pol{
    background-color: whitesmoke;
    color: #000000;
    padding: 1rem;
}
.ko ul li{
    list-style-type: square;
}
.ko ul{
    padding-left: 1rem;
}

.end{
    background-color: white;
    color: #e9141e;
    text-align: center;
    font-weight: bold;
    padding: 2rem;
}
h1, h2, h3{
    color: #e9141e;
}
.ko {
    border: 0.2rem solid#000000;
    background-color: white;
    margin-bottom: 1rem;
    padding: .5rem;
}

.btn{
    font-size: large;
    border: 0.1rem solid #e9141e ;
    border-radius: 1rem;
    color: #e9141e;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 2rem;
    transition:border-color 0.3s, color 0.3s, opacity 0.3s;
}
.btn:hover{
    border-color: blue;
    color: blue;
}
.center{
    text-align: center;
}
.mem-img{
    display: block;
    margin: 0 auto;
    max-width: 20rem;
}
